<div class="flex items-center justify-center lg:hidden font-inter">
  <!--Burger Menu -->
  <div class="relative inline-block text-left">
    <img
      src="../../../assets/bars-solid.svg"
      alt="burger bars"
      width="25"
      height="25"
      class="hover:cursor-pointer z-50"
      (click)="toggleMenu()"
    />
    <!-- Menu Overlay -->
    <div
      (click)="closeMenu()"
      [ngClass]="{ 'fixed inset-0 overlay-opacity z-40': isOpen }"
    >
      <!--  Nav Links -->
      <div
        class="fixed top-0 right-0 h-full w-64 bg-white shadow-xl transition-all duration-300 ease-in-out"
        [ngClass]="{ 'translate-x-0': isOpen, 'translate-x-full': !isOpen }"
      >
        <ul class="flex flex-col justify-center items-center gap-5 pt-16">
          <img
            src="../../../assets/xmark-solid.svg"
            alt="x icon"
            width="25"
            height="25"
            class="fixed top-6 right-6 hover:cursor-pointer"
            (click)="closeMenu()"
          />
          <li *ngFor="let link of NAV_LINKS" class="">
            <p
              class="text-lg text-[#250902] hover:text-[#ad2831] hover:cursor-pointer"
            >
              <a [href]="link.href">{{ link.label }}</a>
            </p>
          </li>
          <app-button
            type="button"
            styling="mt-5 rounded-lg px-4 py-2 bg-[#640d14] hover:bg-[#38040e] hover:cursor-pointer text-nowrap w-full"
            text="Log In"
          ></app-button>
          <app-button
            type="button"
            styling="rounded-lg px-4 py-2 bg-[#fca311] hover:cursor-pointer hover:bg-[#ee964b] text-nowrap w-full"
            text="Sign Up"
          ></app-button>
        </ul>
      </div>
      <!-- End of Nav Links -->
    </div>
    <!-- End of Menu Overlay -->
  </div>
  <!-- End of Burger Menu -->
</div>
