<!-- Container -->
<div class="flex justify-center items-center p-5">
  <!-- Content -->
  <div class="flex flex-col gap-5 text-center w-[50%]">
    <!-- Header -->
    <div class="flex flex-col items-center text">
      <h1 class="text-2xl text-black">O nama</h1>
      <p class="text-gray-500 text-md">Naučite više o nama i šta nas pokreće</p>
    </div>
    <!-- End of Header -->

    <!-- Mission -->
    <div class="flex flex-col items-center gap-4">
      <h2 class="text-xl text-black">Naša misija</h2>
      <p class="text-md text-gray-500">
        Naša misija je omogućiti svakome pristup kvalitetnom online učenju i
        razvoju vještina. Na našem sajtu korisnici mogu pronaći raznovrsne
        kurseve iz različitih oblasti, od tehnologije i jezika do umjetnosti i
        poslovanja. Vjerujemo da učenje treba biti dostupno, praktično i
        prilagođeno svakome, zato smo stvorili platformu koja pomaže pojedincima
        da unaprijede svoje znanje i ostvare svoje ciljeve, bilo da žele razviti
        karijeru, pokrenuti vlastiti projekt ili jednostavno učiti iz ličnog
        zadovoljstva.
      </p>
    </div>
    <!-- End of Mission -->
    <!-- Mission -->
    <div class="flex flex-col items-center gap-4">
      <h2 class="text-xl text-black">O Kreatoru</h2>
      <div class="flex justify-between items-center gap-5">
        <img
          src="../../../assets/stefo.jpg"
          alt="Stefo slika"
          width="200"
          height="200"
        />
        <p class="text-md text-gray-500">
          Ja sam student programiranja i softverskog inženjerstva koji je
          izradio ovaj sajt iz želje da unaprijedi svoje vještine u Angularu i
          ASP.NET-u. Kroz ovaj projekt spojio sam teorijsko znanje s praktičnim
          radom, razvijajući platformu koja omogućava korisnicima da uče razne
          vještine putem online kurseva. Ovaj sajt je rezultat moje strasti za
          učenjem i napretkom u oblasti web razvoja, a ujedno predstavlja i
          važan korak u mom profesionalnom razvoju.
        </p>
      </div>
    </div>
    <!-- End of Mission -->

    .
  </div>
  <!-- End of Content -->
</div>
<!-- End of container -->
