.carousel-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 3;
}
